@model CollectionsViewModel

    <div class="main">
        <div class="inner">
            <div>
                <h2>SIGN UP</h2>
                <form asp-area="" asp-controller="Collections" asp-action="Create" method="post" asp-route-returnUrl="@ViewBag.returnUrl">
                    <div asp-validation-summary="All"></div>
                    <div>
                        <label asp-for="UserName"></label>
                        <input asp-for="UserName" />
                        <span asp-validation-for="UserName"></span>
                    </div>
                    <div>
                        <label asp-for="Email"></label>
                        <input asp-for="Email" />
                        <span asp-validation-for="Email"></span>
                    </div>
                    <div>
                        <label asp-for="Password"></label>
                        <input asp-for="Password" />
                        <span asp-validation-for="Password"></span>
                    </div>
                    <div>
                        <label asp-for="PasswordConfirm"></label>
                        <input asp-for="PasswordConfirm" />
                        <span asp-validation-for="PasswordConfirm"></span>
                    </div>
                    <div>
                        <input type="submit" value="REGISTER" />
                    </div>
                </form>
            </div>
        </div>
    </div>