<!DOCTYPE HTML>

<html>
<head>
    <title>CACTUS</title>
    @await Html.PartialAsync("MetatagsPartial")
    @await Html.PartialAsync("CssPartial")
    @await Html.PartialAsync("ScriptsPartial")
</head>
<body id="top">
    @await Html.PartialAsync("BannerPartial")
    
    <!-- Main -->
    <div id="main">
        <div class="inner">

            @RenderBody()

        </div>
    </div>

    @await Html.PartialAsync("FooterPartial")

</body>
</html>