<!DOCTYPE HTML>
<html>
<head>
    <title>CACTUS</title>
    <link rel="shortcut icon" href="~/images/favicon.ico" type="image/x-icon">
    @await Html.PartialAsync("MetatagsPartial")
    @await Html.PartialAsync("CssPartial")
</head>
<body class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Header -->
        @await Html.PartialAsync("HeaderPartial")
        @await Html.PartialAsync("MenuPartial")

                @RenderBody()

        <!-- Footer -->
        @await Html.PartialAsync("FooterPartial")

    </div>

    <!-- Scripts -->
    @await Html.PartialAsync("ScriptsPartial")

</body>
</html>