@inject IHttpContextAccessor httpContextAccessor
<!DOCTYPE HTML>
<html>
<head>
    <title>CACTUS</title>
    <link rel="shortcut icon" href="~/images/favicon.ico" type="image/x-icon">
    @await Html.PartialAsync("MetatagsPartial")
    @{
        <noscript><link rel="stylesheet" href="~/css/noscript.css" /></noscript>
        string theme;
        if (httpContextAccessor.HttpContext.Request.Cookies["theme"] == null)
        {
            theme = "LIGHT";
        }
        else
        {
            theme = httpContextAccessor.HttpContext.Request.Cookies["theme"].ToString();
        }

        if (theme == "DARK")
        {
            <link rel="stylesheet" href="~/css/darkmain.css" />
        }
        else
        {
            <link rel="stylesheet" href="~/css/lightmain.css" />
            }
        }
</head>
<body class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Header -->
        @await Html.PartialAsync("HeaderPartial")

        @await Html.PartialAsync("MenuPartial")

        @RenderBody()

        <!-- Footer -->
        @await Html.PartialAsync("FooterPartial")

    </div>

    <!-- Scripts -->
    @await Html.PartialAsync("ScriptsPartial")

</body>
</html>