<nav id="menu">
    <h2>Menu</h2>
    <ul>
        @if (User.Identity.IsAuthenticated)
        {
            <li><a asp-controller="User" asp-action="Index" asp-route-userName="@User.Identity.Name">MY PAGE</a></li>
        }
        <li><a asp-controller="Home" asp-action="Index">HOME</a></li>
        <li><a asp-controller="Collections" asp-action="Index">COLLECTIONS</a></li>
        <li><a asp-controller="Items" asp-action="Index">ITEMS</a></li>
        <li><a asp-controller="Tags" asp-action="Index">TAGS</a></li>
        @if (!User.Identity.IsAuthenticated)
        {
            <li><a asp-controller="Account" asp-action="Register">SIGN UP</a></li>
            <li><a asp-controller="Account" asp-action="Login">SIGN IN</a></li>
        }
        else
        {
            <li><a asp-controller="User" asp-action="Settings" asp-route-userName="@User.Identity.Name">SETTINGS</a></li>
            <li><a asp-controller="Account" asp-action="Logout">EXIT</a></li>
        }
    </ul>
</nav>