<nav id="menu">
    <h2>Menu</h2>
    <ul>
        <li><a href="/">HOME</a></li>
        <li><a href="/">Collections</a></li>
        <li><a href="/">Tempus etiam</a></li>
        <li><a href="/">Consequat dolor</a></li>
        <li><a href="/">Elements</a></li>
    </ul>
</nav>