@model ChangeEmailViewModel

<div class="main">
    <div class="inner">
        <div>
            <h2>CHANGE EMAIL</h2>
            <form asp-area="" asp-controller="User" asp-action="ChangeEmail" method="post">
                <div asp-validation-summary="All"></div>
                <input type="hidden" asp-for="Id" />
                <div>
                    <label asp-for="NewEmail"></label>
                    <input asp-for="NewEmail" />
                    <span asp-validation-for="NewEmail"></span>
                </div>
                <div>
                    <input type="submit" value="SAVE CHANGES" />
                </div>
            </form>
        </div>
    </div>
</div>