@model ChangePasswordViewModel

    <div class="main">
        <div class="inner">
            <div>
                <h2>CHANGE PASSWORD</h2>
                <form asp-area="" asp-controller="User" asp-action="ChangePassword" method="post">
                    <div asp-validation-summary="All"></div>
                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="Email" />
                    <div>
                        <label asp-for="NewPassword"></label>
                        <input asp-for="NewPassword" />
                        <span asp-validation-for="NewPassword"></span>
                    </div>
                    <div>
                        <label asp-for="NewPasswordConfirm"></label>
                        <input asp-for="NewPasswordConfirm" />
                        <span asp-validation-for="NewPasswordConfirm"></span>
                    </div>
                    <div>
                        <input type="submit" value="SAVE CHANGES" />
                    </div>
                </form>
            </div>
        </div>
    </div>